.formInfo {
  position: relative;
  .image {
    width: 100%;
    height: 100%;
  }
  .form {
    position: absolute;
    top: 10rem;
    right: 1rem;
    padding: 2rem;
    width: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .formTitle {
      font-size: 3rem;
      color: #eb8a3e;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    label {
      width: 100%;
    }
    .labelText {
      color: #eb8a3e;
      font-weight: bold;
    }
    .formInput {
      width: 100%;
      margin-top: 0.3rem;
      padding: 0.7rem 0;
      border: none;
      border-radius: 4px;
      text-indent: 1rem;
      outline: none;
    }
    .formDouble {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      width: 100%;
    }
    .error {
      color: #ff514e;
      font-size: 0.8rem;
      font-weight: bold;
      margin-top: 0.2rem;
    }
    .btnPrimary {
      cursor: pointer;
      background: #eb8a3e;
      text-transform: uppercase;
      color: #333333;
      border: 1px solid #eb8a3e;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      font-weight: bold;
      border-radius: 8px;
      width: 15rem;
      transition: 0.3s;
      &:hover {
        box-shadow: 0 0 0.75rem 0.5rem rgba($color: #eb8a3e, $alpha: 0.4);
        transition: 0.3s;
      }
    }
  }
}
