.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 8px;
  color: #333;
  background: #fff;
  position: relative;
  &.selected {
    color: #fff;
    background: #eb8a3e;
  }
  &:hover {
    color: #fff;
    background: #eb8a3e;
    transition: all .3s;
  }
  .optionText{
    text-transform: capitalize;
  }
  .price {
    position: absolute;
    right: -.8rem;
    top: -.5rem;
    width: 2rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #ff514e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
